.app {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url("../images/bg.jpg");
  background-size: cover;
  header {
    background-color: #153657;
    padding: 3px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      margin: 0;
      color: #fff;
      font-size: 20px;
    }
  }
  main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75));
    background-size: cover;
    min-height: 92.9vh;
    padding: 0 20px;
    color: #fff;
    .time {
      text-align: end;
      color: #fff;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .app {
    width: 100vw;
    header {
      padding: 3px 15px;
      h2 {
        padding: 6px 0;
        font-size: 15px;
      }
    }
    main {
      min-height: 92.9vh;
      padding: 0 10px;
      .time {
        font-size: 15px;
      }
    }
  }
}
