.location-weather {
  .current-weather {
    color: #fff;
    text-align: center;
    .location {
      .location-name {
        font-size: 40px;
        font-weight: 400;
      }
      .location-date {
        font-size: 18px;
        font-weight: 200;
      }
    }
    .weather {
      .temperature {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        .temp {
          font-size: 80px;
          font-weight: 400;
        }
        .celsius {
          font-size: 20px;
          padding: 30px 10px;
          transition: 0.4s ease-out;
        }
        .fahrenheit {
          font-size: 30px;
          padding: 30px 10px;
          transition: 0.4s ease-out;
        }
      }
      .weath {
        font-size: 18px;
        font-weight: 400;
        margin-top: -50;
      }
    }
    .others {
      .details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 5px 0;
        padding: 0;
        font-size: 18px;
        .text {
          margin: 5px 10px;
        }
      }
    }
  }
  .future-weather {
    .future {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 10px 20px 5px;
      color: #fff;
      justify-content: center;
      .forcast {
        margin: 0 40px;
        padding: 20px 20px;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
        .days {
          font-size: 18px;
          font-weight: 400;
          .temp {
            display: flex;
            flex-direction: row;
            p {
              margin: 0;
              padding: 10px 0;
            }
            .feels-like {
              color: rgba(255, 255, 255, 0.5);
              font-size: 13px;
              padding: 13px 0 0 0;
              margin-left: 8px;
            }
          }
        }
      }
      .forecastD {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 18px;
        .second {
          .temp {
            display: flex;
            flex-direction: row;
            p {
              margin: 0;
              padding: 10px 0;
            }
            .feels-like {
              color: rgba(255, 255, 255, 0.5);
              font-size: 15px;
              padding: 13px 0 0 0;
              margin-left: 8px;
            }
          }
        }
      }
    }
    .otherD {
      display: flex;
      flex-direction: row;
      color: #fff;
      justify-content: center;
      padding: 0 20px 40px 20px;
      font-size: 18px;
      .first {
        margin: 0 20px;
        .temp {
          display: flex;
          flex-direction: row;
          p {
            margin: 0;
            padding: 10px 0;
          }
          .feels-like {
            color: rgba(255, 255, 255, 0.5);
            font-size: 15px;
            padding: 15px 0 0 0;
            margin-left: 8px;
          }
        }
      }
    }
    .forecast2 {
      display: flex;
      flex-direction: row;
      color: #fff;
      justify-content: center;
      padding: 0 20px 30px 20px;
      font-size: 15px;
      .second {
        margin: 0 20px;
        .temp {
          display: flex;
          flex-direction: row;
          p {
            margin: 0;
            padding: 10px 0;
          }
          .feels-like {
            color: rgba(255, 255, 255, 0.5);
            font-size: 13px;
            padding: 13px 0 0 0;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .location-weather {
    padding: 45px 0;
    .current-weather {
      .location {
        .location-name {
          font-size: 25px;
        }
        .location-date {
          font-size: 13px;
        }
      }
      .weather {
        .temperature {
          .temp {
            font-size: 50px;
          }
          .celsius {
            font-size: 13px;
            padding: 12px 5px;
          }
          .fahrenheit {
            font-size: 13px;
            padding: 12px 5px;
          }
        }
        .weath {
          font-size: 15px;
        }
      }
      .others {
        .details {
          margin: 3px 0;
          font-size: 15px;
          .text {
            margin: 5px 8px;
          }
        }
      }
    }
    .future-weather {
      .future {
        padding: 15px 0 5px;
        .forcast {
          margin: 0 5px;
          padding: 30px 0;
        }
        .forecastD {
          .second {
            .temp {
              .feels-like {
                color: rgba(255, 255, 255, 0.5);
                font-size: 15px;
                padding: 13px 0 0 0;
                margin-left: 3px;
              }
            }
          }
        }
      }
      .forecast2 {
        padding: 0 0 30px;
        font-size: 14px;
        .second {
          margin: 0 5px;
          .time {
            margin-left: -4px;
          }
          .temp {
            .feels-like {
              font-size: 10px;
              padding: 14px 0 0 0;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
